*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f2f2f2;
}

.container{
    background: white;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    width: 400px;
}

h1{
    text-align: center;
    margin-bottom: 25px;
    color: #333;
}

h4{
    margin-bottom: 20px;
    color: #555;
    word-wrap: break-word;
}

textarea,
input{
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    outline: none;
    font-size: 15px;
}

textarea{
    resize: none;
    height: 80px;
}

button{
    width: 100%;
    padding: 12px;
    border: none;
    background: black;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
}

button:hover{
    opacity: 0.9;
}